.navbar {
    position: absolute;
    width: 99%;
}

.navbar-brand {
    line-height: 1.25em;
}

.title {
    font-size: 1.75rem;
}

.title, .nav-link {
    color: #FFFFFF !important;
}

.subtitle {
    font-size: 1rem;
    letter-spacing: 1.5px;
    color: #868686;
}

#section-1 {
    background-color: #9DDDFF;
}

#section-2 {
    background-color: #FF9D9D;
}

#section-3 {
    background-color: #AF9DEB;
}

#section-4 {
    background-color: #85CEC0;
}

#section-5 {
    background-color: #FFD0A2;
}