/* general */
#title, .nav-link, h1, h3, p {
    color: #FFFFFF !important;
}

#subtitle, .nav-link:hover, h2 {
    color: #868686 !important;
}

/* navbar */
.navbar {
    position: absolute;
    width: 99%;
}

.navbar-brand {
    line-height: 1.25em;
}

#title {
    font-size: 1.75rem;
}

#subtitle {
    font-size: 1rem;
    letter-spacing: 1.5px;
}

/* sections */
.section {
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.section-child {
    height: 100%;
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#home {
    background-color: #9DDDFF;
}

#about {
    background-color: #FF9D9D;
}

#skills {
    background-color: #AF9DEB;
}

#experience {
    background-color: #85CEC0;
}

#contact {
    background-color: #FFD0A2;
}

/* home */
#h1-name {
    color: #404C5A;
}

#h1-role {
    color: #A7566E;
}

/* about */
#about-text {
    font-size: 1.5vw;
}

@media (max-width: 1199.98px) {
    #about-image {
        display: table;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #about-image > img {
        max-height: 30vw !important;
        width: auto;
        top: 0;
        transform: translateY(0);
    }
}

@media (max-width: 991.98px) {
    #about-text {
        font-size: 1.75vw;
    }
}

@media (max-width: 767.98px) {
    #about-text {
        font-size: 2.4vw;
    }
}

@media (max-width: 575.98px) {
    #about-text {
        font-size: 2.8vw;
    }
}