/* general */
#title, .nav-link, h1 {
    color: #FFFFFF !important;
}

#subtitle, .nav-link:hover, h2 {
    color: #868686 !important;
}

/* navbar */
.navbar {
    position: absolute;
    width: 99%;
}

.navbar-brand {
    line-height: 1.25em;
}

#title {
    font-size: 1.75rem;
}

#subtitle {
    font-size: 1rem;
    letter-spacing: 1.5px;
}

/* sections */
.section {
    text-align: center;
}

.section-child {
    height: 100%;
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#section-1 {
    background-color: #9DDDFF;
}

#section-2 {
    background-color: #FF9D9D;
}

#section-3 {
    background-color: #AF9DEB;
}

#section-4 {
    background-color: #85CEC0;
}

#section-5 {
    background-color: #FFD0A2;
}

/* home */
#h1-name {
    color: #404C5A;
}

#h1-role {
    color: #A7566E;
}